/*brown button*/
.btn-default { 
  color: #FFFFFF; 
  background-color: #2D9AB7; 
  border: 3px solid #FFFFFF; 
} 
 
.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default { 
  color: #FFFFFF; 
  background-color: #2EA2C2; 
  border: 3px solid #FFFFFF; 
} 
 
.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default { 
  background-image: none; 
} 
 
.btn-default.disabled, 
.btn-default[disabled], 
fieldset[disabled] .btn-default, 
.btn-default.disabled:hover, 
.btn-default[disabled]:hover, 
fieldset[disabled] .btn-default:hover, 
.btn-default.disabled:focus, 
.btn-default[disabled]:focus, 
fieldset[disabled] .btn-default:focus, 
.btn-default.disabled:active, 
.btn-default[disabled]:active, 
fieldset[disabled] .btn-default:active, 
.btn-default.disabled.active, 
.btn-default[disabled].active, 
fieldset[disabled] .btn-default.active { 
  background-color: #2D9AB7; 
  border: 3px solid #FFFFFF; 
} 
 
.btn-default .badge { 
  color: #2D9AB7; 
  background-color: #FFFFFF; 
}