.metadata/
.recommenders/
*.class
Servers/
RemoteSystemsTempFiles/.project
1052WbseYelp/.settings/org.eclipse.wst.jsdt.ui.superType.name
1052WbseYelp/.settings/org.eclipse.wst.common.project.facet.core.xml
1052WbseYelp/.settings/org.eclipse.wst.jsdt.ui.superType.container
1052WbseYelp/.settings/org.eclipse.wst.common.component
1052WbseYelp/.settings/org.eclipse.jdt.core.prefs
1052WbseYelp/.settings/.jsdtscope
1052WbseYelp/.classpath
1052WbseYelp/.classpath
